.flexbox {
    display: flex;
    border: 2px solid red;
    height: 100vh;
    gap: 2px
}

.item{
    border: 2px solid;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10px;
}

.flexbox div:nth-child(3) {
    flex-grow: 10;
}
