@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    initial-letter: 3;
}

img {
    width: 30%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
    margin: 1rem;
}