article p:hover{
    color: blue
}

article p:nth-of-type(1){
    font-weight: bold;
}

article p:nth-child(odd){
    background: #eee
}

input:focus{
    border-color: blue;
    outline: none;
}

li::after {
    content: ">>"
}